header{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    .container{

        .navigation-menu{
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 2rem;
        }
    }
}